*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Golos Text', sans-serif; */
    /* background-color: #81A4FE; */
}

.body {
    /* background-color: #81A4FE; */
    height: 100%;
    padding: 10px;
}
